body { 
  margin:0px; 
  background-image: url("../images/background-pic.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover;
}

.container {
  width:800px;
  padding: 50px;
  margin: auto;
}

.barra {
  background-color:#94a2c9;
  color: #e8dfdf;
  border:#000 1px solid; 
  font-size: 20px;
  height: 40px; width: 800px;
}

.boton{
    color:red;
    font-size: 40px;
    background-color: #000000;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid blue;
}
.boton:hover{
    background-color: white;
    color: #000000;
}

#start-btn {
  background-color: rgb(41, 117, 217);
  color: white;
  position:absolute;
  padding: 18px;
  font-size: 20px;
  margin-top: 470px;
  margin-left: 350px;
  border-radius: 20px; 
  text-align: center;
}
#reset-game{
  background-color: rgb(41, 117, 217);
  color: white;
  position:absolute;
  padding: 18px;
  font-size: 20px;
  margin-top: -130px;
  margin-left: 190px;
  border-radius: 20px; 
  text-align: center;
}
#back-to-menu{
  background-color: rgb(41, 117, 217);
  color: white;
  position:ab;
  padding: 30px;
  font-size: 20px;
  margin-left: 300px;
  margin-top: 150px;
  border-radius: 20px;

}

.hidden{
  display: none;
}

#gameOverScreen{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 800px;

}